<!DOCTYPE html>
<html>
<head>
    <title>list</title>
</head>
<body>
    <h2>最新信息</h2>
    {%if not people%}
    <h3>暂无信息</h3>
    {%endif%}
    <ul>
        <table>
            <tr>
                <td>work_place</td>
                <td>name</td>
                <td>idcode</td>
                <td>education</td>
                <td>phone</td>
                <td>sex</td>
                <td>reg_date</td>
            </tr>
        {%for people in peoples%}
            <tr>
                <td>{{people.get('work_place')}}</td>
                <td>{{people.get('name')}}</td>
                <td>{{people.get('idcode')}}</td>
                <td>{{people.get('education')}}</td>
                <td>{{people.get('phone')}}</td>
                <td>{{people.get('sex')}}</td>
                <td>{{people.get('reg_date')}}</td>
            </tr>
        {%endfor%}
        </table>
    </ul>
</body>
</html>