<!DOCTYPE html>
<html>
<head>
    <title>凤凰国际城南区51号楼</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
</head>
<body style="font-size: 1.2em;">
    <h2>请正确填写以下信息</h2>
    {{info}}
    <form action="" method="post">
        <table>
            <tr><td>姓名</td><td><input type="text" name="name" placeholder="请输入你的姓名"></td></tr>
            <tr><td>身份证号码</td><td><input type="text" name="idcode" placeholder="请输入身份证号"></td></tr>
            <tr><td>住所楼幢号</td><td><input type="text" name="address" placeholder="必填，如: 56#302"></td></tr>
            <tr><td>联系电话</td><td><input type="text" name="phone" placeholder="电话号码"></td></tr>
            <tr><td>外来地址</td><td><input type="text" name="src_address" placeholder="从哪回来"></td></tr>
            <tr><td>返泗日期</td><td><input type="text" name="back_date" placeholder="返泗日期,如: 20200201"></td></tr>
            <tr><td>近期有无发热史</td><td><input type="text" name="is_fever" placeholder="健康状况"></td></tr>
            <tr><td>其他情况说明</td><td><textarea name="memo" placeholder="填写其他信息"></textarea></td></tr>
            <tr><td></td><td style="height: 2em;"><input style="width: 100px;" type="submit" name="submit" value="保存"></td></tr>
        </table>
    </form>
    <p style="font-size: 0.5em;color: #FDE;">网格员:丁敬香</p>
</body>
</html>